.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 800px;
  height: 450px;
  border: dashed 1px red;
  position: relative;
}
